/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	/*========== Colors ==========*/
	--primary-color: #ff914d;
	--secondary-color: hsl(22, 100%, 8%);
	--white-color: #f2f2f2;
	--primary-text-color: #f2f2f2;
	--secondary-text-color: #333;
	--secondary-text-color-light: #333333d7;
	--shadow-small-img: drop-shadow(0 4px 16px hsla(22, 100%, 8%, 0.2));
	--shadow-big-img: drop-shadow(0 8px 24px hsla(22, 100%, 8%, 0.2));

	/*========== Font and typography ==========*/
	--heading-font-family: "Paytone One", sans-serif;
	--primary-font-family: "Josefin Sans", sans-serif;
	--h1-font-size: 2.986rem;
	--h2-font-size: 2.488rem;
	--h3-font-size: 2.074rem;
	--h4-font-size: 1.728rem;
	--h5-font-size: 1.44rem;
	--h6-font-size: 1.2rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.833rem;
	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
}
body {
	background-color: var(--primary-color);
	font-family: var(--primary-font-family);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
	max-width: 1120px;
	margin-inline: 1.5rem;
	margin: auto;
	padding-inline: 4%;
}
.grid {
	display: grid;
	gap: 1.5rem;
}

.home-section {
	padding-block: 5rem 1rem;
}
.section {
	padding-block: 2rem 1rem;
}

.section__title {
	text-align: center;
	font-size: var(--h1-font-size);
	font-family: var(--heading-font-family);
	color: var(--white-color);
	margin-bottom: 4rem;
}
.d-relative {
	position: relative;
}

.hidden {
	overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
	z-index: 100;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	padding-inline: 4%;
}

.nav__logo {
	display: flex;
	align-items: center;
	color: var(--primary-text-color);
	font-family: var(--heading-font-family);
	text-decoration: none;
	font-size: var(--h6-font-size);
}
.nav__logo img {
	width: 60px;
}
.nav__list {
	display: flex;
	list-style-type: none;
	align-items: center;
	column-gap: 2rem;
}
.nav__links {
	position: relative;
	text-decoration: none;
	color: var(--white-color);
	font-family: var(--primary-font-family);
	font-weight: var(--font-bold);
}
.nav__links::after {
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	background-color: var(--white-color);
	left: 0;
	bottom: -0.5rem;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.5s ease;
	border-radius: 10px;
}
.nav__links:hover::after {
	transform: scaleX(1);
}
.nav__toggle,
.nav__close {
	display: flex;
	font-size: 1.6rem;
	color: var(--white-color);
	cursor: pointer;
	display: none;
}

/* navigation for mobile devices */
@media screen and (max-width: 700px) {
	.nav__toggle,
	.nav__close {
		display: block;
	}

	.nav__menu {
		position: fixed;
		top: -100%;
		left: 0;
		background-color: var(--primary-color);
		width: 100%;
		padding-block: 4.5rem 3.5rem;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
			rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		transition: top 0.4s;
	}
	.nav__menu li {
		padding-block: 0.5rem;
	}
	.nav__list {
		display: flex;
		flex-direction: column;
		text-align: center;
		row-gap: 1rem;
	}
	.nav__links {
		position: relative;
		text-decoration: none;
		color: var(--primary-text-color);
		font-family: var(--primary-font-family);
		font-size: var(--h6-font-size);
		font-weight: var(--font-semi-bold);
	}
	.nav__links::after {
		content: "";
		width: 100%;
		height: 3px;
		background-color: var(--white-color);
		position: absolute;
		left: 0;
		bottom: -0.3rem;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 0.5s ease;
		border-radius: 10px;
	}
	.nav__links:hover::after {
		transform: scaleX(1);
	}
	.nav__close {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
	}
	/* show menu */
	.show-menu {
		top: 0;
	}
}
/*=============== HOME ===============*/
.home__container {
	padding-block: 1.5rem 2rem;
	justify-content: center;
	row-gap: 3.5rem;
	align-items: center;
}
.home__data {
	position: relative;
}
.home__title {
	font-family: var(--heading-font-family);
	font-size: var(--h1-font-size);
	color: var(--primary-text-color);
	font-weight: var(--font-bold);
	margin-bottom: 1rem;
}
.home__description {
	margin-bottom: 2.5rem;
	font-size: var(--normal-font-size);
	color: var(--text-color);
	line-height: 2;
}
.home__sticker {
	position: absolute;
	width: 40px;
	rotate: 15deg;
	position: absolute;
	bottom: 2.9rem;
	left: 10rem;
	opacity: 0.5;
}
.button {
	display: inline-flex;
	background-color: var(--secondary-color);
	color: var(--primary-text-color);
	padding: 1rem 1.5rem;
	border-radius: 4rem;
	text-decoration: none;
	font-weight: var(--font-medium);
	font-size: var(--h6-font-size);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button:hover {
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.home__img {
	display: grid;
	justify-items: center;
}
.home__img img {
	max-width: 100%;
	position: relative;
	left: 4rem;
}
.grid-column {
	grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 915px) {
	.home__data {
		text-align: center;
	}
	.grid-column {
		grid-template-columns: 1fr;
	}
	.home__img img {
		left: 0;
	}
}
/*=============== RECIPE ===============*/
.recipe__container {
	grid-template-columns: 0.9fr 1fr;
	column-gap: 2rem;
	padding-bottom: 2rem;
}
.recipe__image {
	display: grid;
	position: relative;
	place-items: center;
}
.recipe__image img {
	position: absolute;
	max-width: initial;
	width: 200px;
	filter: var(--shadow-big-img);
}
.recipe__data {
	display: grid;
	row-gap: 2rem;
}
.recipe__card {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}
.recipe__box {
	width: 60px;
	height: 60px;
	background-color: var(--white-color);
	flex-shrink: 0;
	display: grid;
	border-radius: 0.75rem;
	place-items: center;
	border: 1px solid var(--secondary-color);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.recipe__box img {
	max-width: 100%;
	filter: var(--shadow-small-img);
}
.recipe__content {
	width: 19rem;
}
.recipe__title {
	font-size: var(--h6-font-size);
	margin-bottom: 0.5rem;
	color: var(--text-color);
}
.recipe__description {
	font-size: var(--normal-font-size);
	color: var(--secondary-text-color-light);
}
.recipe__card:nth-child(even) .recipe__box {
	order: 1;
}
@media screen and (max-width: 698px) {
	.recipe__container {
		grid-template-columns: 1fr;
	}
	.recipe__image img {
		position: relative;
	}
	.recipe__data {
		justify-content: center;
	}
}
@media screen and (max-width: 396px) {
	.recipe__card {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 1rem;
	}
	.recipe__card:nth-child(even) .recipe__box {
		order: 0;
	}
}
/*=============== POPULAR ===============*/
.popular__container {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
	justify-content: center;
	margin-top: 6rem;
}
.popular__card {
	position: relative;
	display: flex;
	flex: 0 1 250px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2rem;
	padding-block: 8rem 2rem;
	border: 1px solid var(--secondary-color);
	border-radius: 2rem;
	background-color: var(--secondary-color);
}
.popular__img {
	position: absolute;
	top: -4.5rem;
	left: 0;
	right: 0;
}
.big-position {
	top: -5rem;
}
.popular__content-section {
	align-items: center;
}
.popular__content {
	text-align: center;
}
.popular__title {
	font-size: var(--h5-font-size);
	color: var(--primary-text-color);
	margin-bottom: 0.7rem;
}
.popular__description {
	color: var(--primary-text-color);
	font-size: var(--normal-font-size);
	margin-bottom: 1rem;
}
.popular__btn {
	display: inline-flex;
	border: 1px solid var(--primary-color);
	column-gap: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	align-items: center;
	background-color: var(--primary-color);
	position: relative;
}
.popular__price-amount {
	font-size: var(--h6-font-size);
	font-weight: var(--font-bold);
}
.popular__img img {
	width: 13rem;
	padding-bottom: 1rem;
	display: block;
	margin: auto;
}
.popular__card:hover .popular__img {
	transform: translateY(-0.5rem);
	transition: 0.7s;
}
/*=============== DELIVERY ===============*/
.delivery__container {
	text-align: center;
}
.delivery__data {
	color: var(--white-color);
	max-width: 40rem;
	text-align: center;
	margin-bottom: 2.5rem;
	margin-inline: auto;
}
.delivery__data {
	font-size: var(--h6-font-size);
	margin-top: -2rem;
}
.delivery__btn {
	position: relative;
	margin-bottom: 2rem;
}
.delivery__sticker {
	position: absolute;
	width: 35px;
	rotate: 15deg;
	left: 12rem;
	bottom: 1rem;
	opacity: 0.5;
}
.delivery__img {
	width: clamp(20rem, 50vw, 34rem);
	justify-self: center;
}
.delivery__img img {
	max-width: 100%;
}
/*=============== CONTACT ===============*/
.contact__container {
	position: relative;
	background-color: var(--secondary-color);
	padding-top: 3rem;
	padding-inline: 1.5rem;
	border-radius: 3rem;
}
.contact__container {
	color: var(--primary-text-color);
}
.contact__img {
	position: relative;
	bottom: -5px;
}
.contact-man {
	max-width: 100%;
}
.contact-content {
	grid-template-columns: repeat(2, 1fr);
	row-gap: 4rem;
	margin-top: -3rem;
}
.contact__data {
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	order: 2;
	max-height: 50%;
}
.contact__data h3 {
	padding-top: 3rem;
	padding-bottom: 10px;
}
.contact__title {
	font-size: var(--h5-font-size);
}
.contact__info {
	font-size: var(--normal-font-size);
	color: rgba(255, 255, 255, 0.708);
}
.contact__social {
	display: flex;
	column-gap: 1rem;
}
.contact__social a {
	text-decoration: none;
	width: 32px;
	height: 32px;
	background-color: var(--primary-color);
	color: var(--white-color);
	font-size: 1.5rem;
	border-radius: 10px;
	display: grid;
	place-items: center;
}
.contact-burger__sticker {
	width: clamp(3rem, 5vw, 4rem);
	rotate: 15deg;
	position: absolute;
	opacity: 0.5;
	right: 2rem;
}
.contact-soda__sticker {
	width: clamp(2rem, 5vw, 3rem);
	rotate: -30deg;
	position: absolute;
	opacity: 0.5;
	top: 13rem;
	left: 17rem;
}
@media screen and (max-width: 1005px) {
	.contact__data {
		gap: 0.5rem;
	}
}
@media screen and (max-width: 889px) {
	.contact__container{
		padding-top: 1.5rem;
	}
	.contact__data {
		max-width: 100%;
		grid-template-columns: repeat(1, 1fr);
		gap:1rem;
	}
	.contact__data h3 {
		padding-top: 1rem;
	}
	.contact-soda__sticker{
		top:12rem;
	}
}
@media screen and (max-width: 819px){
	.contact__container{
		padding-top: 0.7rem;
	}
	.contact-soda__sticker{
		left:14rem;
	}
}
@media screen and (max-width: 787px){
		.contact__data {
		grid-template-columns: 1fr;
		row-gap: 2rem;
		text-align: center;
	}
	.contact__social {
		justify-content: center;
	}
	.contact__data {
		order: 2;
	}
	.contact__img {
		order: 1;
	}

	.contact-content {
		grid-template-columns: 1fr;
		row-gap: 2rem;
	}
	.contact__data {
		order: 1;
	}
	.contact__img {
		order: 2;
	}
	.contact-soda__sticker{
		left:3rem;
	}
}
@media screen and (max-width: 422px){
	.contact-soda__sticker{
		left:0rem;
	}
}